# filemanager to use when receive a path
filemanager=thunar %arg

# standard action/fallback
stdaction=xterm -e ed %arg

# web browser
browser=links -g %arg

# manpages
manpage = xterm -e "man %sec %arg | less +%numG"


# extensions
ext=pdf
command=zathura -P %num %arg

ext=djvu
command=zathura -P %num %arg

ext=epub
command=mupdf %arg

ext=ps
command=zathura -P %num %arg

ext=txt
command=xterm -e ed %arg

ext=jpg
command=ristretto %arg

ext=png
command=ristretto %arg

ext=gif
command=ristretto %arg

ext=wemb
command=vlc --start-time %num file://%arg

ext=mp4
command=vlc --start-time %num file://%arg

ext=mp3
command=audacious %arg

ext=wav
command=audacious %arg

ext=kdbx
command=keepassx %arg

ext=c
command=xterm -e vim +%num %arg


# links
url=http://www.google.com/
command=midori %arg


# domains
domain=youtube.com
command=xterm -e youtube-dl %arg


# regex
regex="*.tiff"
command=ristretto %arg
