# applications
filemanager=rox %arg
stdaction=uxterm -e "nvim +%num %arg"
browser=links2 -g %arg
manpage=uxterm -e "man %sec %arg | nvim -R - +%num"


# header directories
idir=/usr/include/arm-linux-gnueabihf/
idir=/usr/lib/gcc/arm-linux-gnueabihf/8/include/
idir=/usr/lib/gcc/arm-linux-gnueabihf/8/include-fixed/


# regex
regex=.+\.(pdf|djvu|ps)
command=zathura -P %num %arg > /dev/null

regex=.+\.(jpg|png|gif|tiff)
command=sxiv %arg

regex=.+\.(mp3|wav)
command=audacious %arg

regex=.+\.(webm|mp4)
command=vlc --start-time %num file://%arg > /dev/null


# extensions
ext=epub
command=uxterm -e mupdf %arg

ext=kdbx
command=keepassx %arg


# domain
domain=www.youtube.com
command=xterm -e youtube-dl -f 18 -o '/home/pi/Vídeos/%(title)s.%(ext)s' %arg

domain=youtu.be
command=xterm -e youtube-dl -f 18 -o '/home/pi/Vídeos/%(title)s.%(ext)s' %arg

domain=bitchute.com
command=xterm -e youtube-dl -o '/home/pi/Vídeos/%(title)s.%(ext)s' %arg


# file
file=/etc/fstab
command=gvim %arg


# external
#include=/home/user/.another-joker-config-file

