# applications
filemanager=rox %arg
stdaction=uxterm +sb -e "nvim +%num %arg"
browser=links2 -g %arg
manpage=uxterm +sb -e "man %sec %arg | nvim -R - +%num"


# header directories
idir=/usr/include/arm-linux-gnueabihf/
idir=/usr/lib/gcc/arm-linux-gnueabihf/8/include/
idir=/usr/lib/gcc/arm-linux-gnueabihf/8/include-fixed/


# regex
regex=.+\.(pdf|djvu|ps)
command=zathura -P %num %arg > /dev/null

regex=.+\.(jpg|png|gif|tiff)
command=sxiv %arg

regex=.+\.(mp3|wav)
command=audacious %arg

regex=.+\.(webm|mp4)
command=vlc --start-time %num --started-from-file '%arg' > /dev/null


# extensions
ext=epub
command=uxterm -e mupdf %arg

ext=kdbx
command=keepassx %arg


# domain
domain=www.youtube.com
command=xterm -e youtube-dl %arg

domain=youtu.be
command=xterm -e youtube-dl %arg


# web search
searchengine=wikipedia
command=links2 -g https://en.wikipedia.org/w/index.php?search=%arg

searchengine=bing
command=links2 -g http://www.bing.com/search?q=%arg

searchengine=bingimage
command=links2 -g http://www.bing.com/images/search?q=+%arg\&FORM=HDRSC2

searchengine=youtube
command=links2 -g https://www.youtube.com/results?search_query=%arg


# files
filename=/etc/fstab
command=vi %arg


# external
include=/path/to/config_file

